html
  head
    title National Road Corvette Club | Springfield Ohio
    meta name="viewport" content="initial-scale=1.0, width=device-width"
  body
    .navigation
      div style="display: inline-block" National Road Corvette Club
    .hello
    #about-us
     p.heading Who We Are
     p The National Road Corvette Club was founded in 2000 by Corvette
       enthusiasts from Clark County, Ohio. The club is named for the
       historic National Road (U.S. Route 40), which bisects the county
       and its county seat, Springfield. Since its founding, the club has
       grown to include members from members from several Ohio counties.
     p National Road Corvette Club is a proud member of the National
       Corvette Museum and the Ohio Alliance of Corvette Clubs.
    #what-we-do
      p.heading What We Do
      p During the warmer months, the club holds a Corvettes only cruise-in at Steve Austins Auto Group in Bellefontaine, assists with the annual “Gathering” sponsored by the Corvette Club Alliance (and held in Lancaster, OH), participates in the annual (May) Corvette only show at Bud’s in St. Mary’s, and assists with/participates in numerous other car shows, cruise-ins and other Corvette-related activities.
    /* #join-us */
    /*   p.heading Join Us */
    /*   div */
    /*     form.inquiry-form */
    /*       div */
    /*         | My name is */ 
    /*         input name="name" type="text" placeholder="Tadge Juechter" */
    /*         | , and I am interested in becoming a */ 
    /*         select name="applicationType" */
    /*           option member */
    /*           option sponsor */
    /*         | . My phone number is */ 
    /*         input name="phone" type="text" placeholder="123-456-7890" */
    /*         | and my e-mail is */ 
    /*         input name="email" type="text" size="24" placeholder="vettefan@chevrolet.com" */
    /*         | . I'd prefer to be contacted by */ 
    /*         select class="small" name="contactPreference" */
    /*           option phone */
    /*           option e-mail */
    /*         | . */
	  /* div */
    /*         input type="button" class="cancel btn" value="cancel" */
    /*         input type="submit" class="send btn primary disabled" value="contact us" */
    #footer
      div style="display: inline-block" NRCC
